.questions{
  flex : 1;
  
}

.summary{
  flex: 100%;
  justify-content: flex-start;
  /*border: 5px solid rgb(128, 68, 0);*/
    padding: 10px;
    margin: 20px;
  
  }


 .advicebox {
   flex:100%;
   justify-content: center;
   border: 5px dotted red;
   
  }

.container {
    display: flex;
    
}
.container2 {
  display: flex;
  flex: 1;
  flex-flow: wrap;  
}

.age,.income,.expenses,.savings {
    width: 400px;
    border: 5px solid green;
    padding: 10px;
    margin: 20px;
  }

  